<div>
    <h2>Login</h2>
    <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label>Usuário</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label>Senha</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
        </div>
        <button type="submit">Login</button>
    </form>
</div>